{% extends "tigers/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="title is-3 mt-4">Tigers</div>
<div class="subtitle is-5">Tigers are example team-specific objects using Class-Based Views</div>
<a class="button is-primary" href="{% url 'tigers:tiger-createview' team.slug %}">+ New</a>
{% for object in objects %}
    <div class="card mt-5">
        <div class="card-header">
            <div class="card-header-title"><a href="{% url 'tigers:tiger-detail' team.slug object.id %}">{{ object.name }}</a></div>
        </div>
        <div class="card-content">
            <div>Id: {{ object.id }}</div>
            <div>Number: {{ object.number }}</div>
        </div>
    </div>
{% endfor %}
{% endblock %}
