{% extends "cheetahs/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="title is-3 mt-4">Cheetahs</div>
<div class="subtitle is-5">Cheetahs are example cross-team objects using Class-Based Views</div>
<a class="button is-primary" href="{% url 'cheetahs:cheetah-createview' %}">+ New Cheetah</a>

{% include "web/components/paginator.html" %}

{% for object in objects %}
    <div class="card mt-5">
        <div class="card-header">
            <div class="card-header-title is-size-4"><a href="{% url 'cheetahs:cheetah-detailview' object.id %}">{{ object.name }}</a></div>
        </div>
        <div class="card-content">
            <div>Id: {{ object.id }}</div>
            <div>Number: {{ object.number }}</div>
        </div>
    </div>
{% endfor %}

{% include "web/components/paginator.html" %}

{% endblock %}
