{% extends "cheetahs/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="mt-5">
        <a class="button is-link is-light" href="{% url 'cheetahs:cheetah-listview' %}">&lt; Cheetah List</a>
        <a class="button is-primary" href="{% url 'cheetahs:cheetah-createview' %}">+ New</a>
        <a class="button is-primary" href="{% url 'cheetahs:cheetah-updateview' object.id %}">Edit</a>
        <a class="button is-danger is-light ml-6" href="{% url 'cheetahs:cheetah-deleteview' object.id %}">Delete</a>
        <div class="card mt-5">
            <div class="card-header">
                <div class="card-header-title is-size-4">{{ object.name }}</div>
            </div>
            <div class="card-content">
                <div>Id: {{ object.id }}</div>
                <div>Number: {{ object.number }}</div>
                <div>Notes: {{ object.notes }}</div>

                <div class="is-italic mt-2">
                    <div>Created at: {{ object.created_at }}</div>
                    {% if object.modified_at %}
                        <div>Modified at: {{ object.modified_at }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
